<html>
<head>
  <script>
  var Chartkick = {"language": "es"};
  </script>
  <script src="http://www.google.com/jsapi"></script>
  <script src="chartkick.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
